html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
hr {
	height: 0px;
	border: none;
	margin-bottom: 4px;
	margin-top: 4px;
	border-top: 1px solid black;
}
footer a {
	color: #000000;
	text-decoration: none !important;
}
footer a:hover {
	color: white;
	transform: scale(1.2);
}
/*#region cssColors*/
.primary {
	color: #8d6e63;
}
.background-p {
	background-color: #8d6e63;
}
.background-pl {
	background-color: #be9c91;
}
.background-pd {
	background-color: #5f4339;
}
.primary-light {
	color: #be9c91;
}

.primary-dark {
	color: #5f4339;
}
.secondary {
	color: #212121;
}

.secondary-light {
	color: #484848;
}

.secondary-dark {
	color: #000000;
}
/*#endregion */
li.nav-item:has(.nav-link.active) {
	transform: scale(1.2);
	border: solid #5f4339;
}
header > nav ul li {
	border: solid #212121;
	background-color: #be9c91;
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
header > nav ul li:not(.nohover):hover {
	background-color: white;
	transform: scale(1.2);
}
.card-img-top {
	width: 100%;
	height: 30vw;
	object-fit: cover;
}
@media (max-width: 300px) {
	nav ul li {
		border: solid #212121;
		background-color: #be9c91;
		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.card-img-top {
		width: 100%;
		height: 80vw;
		object-fit: cover;
	}
	li.nav-item:has(.nav-link.active) {
		transform: scale(1);
		border: solid #5f4339;
	}
}
@media (max-width: 320px) {
	nav ul li {
		border: solid #212121;
		background-color: #be9c91;
		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	li.nav-item:has(.nav-link.active) {
		transform: scale(1);
		border: solid #5f4339;
	}
	.card-img-top {
		width: 100%;
		height: 30vw;
		object-fit: cover;
	}
}
@media (max-width: 480px) {
	nav ul li {
		border: solid #212121;
		background-color: #be9c91;
		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	li.nav-item:has(.nav-link.active) {
		transform: scale(1);
		border: solid #5f4339;
	}
	.card-img-top {
		width: 100%;
		height: 80vw;
		object-fit: cover;
	}
}
@media (max-width: 600px) {
	nav ul li {
		border: solid #212121;
		background-color: #be9c91;
		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	li.nav-item:has(.nav-link.active) {
		transform: scale(1);
		border: solid #5f4339;
	}
	.card-img-top {
		width: 100%;
		height: 80vw;
		object-fit: cover;
	}
}
@media (max-width: 860px) {
	nav ul li {
		border: solid #212121;
		background-color: #be9c91;
		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	li.nav-item:has(.nav-link.active) {
		transform: scale(1);
		border: solid #5f4339;
	}
	.card-img-top {
		width: 100%;
		height: 80vw;
		object-fit: cover;
	}
}
