.claseBaseDemoExtend, *, body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important; }

.titulo {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 42px; }

.navtext {
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.texto {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.sub {
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

header nav ul li.nav-item {
  background-color: #be9c91;
  border: solid #212121;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 20px; }
  header nav ul li.nav-item a:hover {
    color: white;
    transform: scale(1.2); }
  header nav ul li.nav-item:has(.nav-link.active) {
    transform: scale(1.2);
    border: solid #8d6e63; }
    header nav ul li.nav-item:has(.nav-link.active) a {
      transform: scale(1.2); }

.background-p {
  background-color: #be9c91; }

.background-pl {
  background-color: #8d6e63; }

footer.footerCustom ul.links li {
  color: #212121 !important; }
  footer.footerCustom ul.links li:hover {
    color: white !important;
    transform: scale(1.2); }
    footer.footerCustom ul.links li:hover a {
      color: white !important; }
  footer.footerCustom ul.links li a {
    text-decoration: none !important;
    color: #212121 !important; }

@media all and (min-width: 768px) and (max-width: 1024px) {
  header nav ul li.nav-item {
    margin-top: 5px;
    margin-bottom: 5px; }
    header nav ul li.nav-item a:hover {
      color: white;
      transform: scale(1.2);
      transform-origin: bottom left; }
    header nav ul li.nav-item:has(.nav-link.active) {
      transform: scale(1);
      text-align: center;
      border: solid #8d6e63; }
  .card-img-top {
    width: 100%;
    height: 50vw !important;
    object-fit: cover; }
  body,
  html {
    overflow-x: hidden !important; }
  footer.footerCustom ul.links li {
    text-align: center !important; }
    footer.footerCustom ul.links li:hover {
      transform: scale(1.2);
      transform-origin: bottom right; } }

@media all and (min-width: 480px) and (max-width: 768px) {
  header nav ul li.nav-item {
    margin-top: 5px;
    margin-bottom: 5px; }
    header nav ul li.nav-item a:hover {
      color: white;
      transform: scale(1.2);
      transform-origin: bottom left; }
    header nav ul li.nav-item:has(.nav-link.active) {
      transform: scale(1);
      text-align: center;
      border: solid #8d6e63; }
  .card-img-top {
    width: 100%;
    height: 60vh;
    object-fit: cover; }
  body,
  html {
    overflow-x: hidden !important; }
  footer.footerCustom ul.links li {
    text-align: center !important; }
    footer.footerCustom ul.links li:hover {
      transform: scale(1.2);
      transform-origin: bottom right; } }

@media all and (max-width: 480px) {
  header nav ul li.nav-item {
    margin-top: 5px;
    margin-bottom: 5px; }
    header nav ul li.nav-item a:hover {
      color: white;
      transform: scale(1.2);
      transform-origin: bottom left; }
    header nav ul li.nav-item:has(.nav-link.active) {
      transform: scale(1);
      text-align: center;
      border: solid #8d6e63; }
  .card-img-top {
    width: 100%;
    height: 60vh;
    object-fit: fill; }
  body,
  html {
    overflow-x: hidden !important; }
  footer.footerCustom ul.links li {
    text-align: center !important; }
    footer.footerCustom ul.links li:hover {
      transform: scale(1.2);
      transform-origin: bottom right; } }

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover; }

.customButton {
  color: #212121;
  background-color: #be9c91;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
  width: 160px;
  height: 40px;
  border: solid #212121 !important;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .customButton:hover {
    transform: scale(1.2);
    background-color: white; }
