@import './base/_reset.scss';
@import './utilities/_variables.scss';
@import './utilities/_mixins.scss';
@import './base/_typos.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/mobile-queries.scss';
@import './components/main-card.scss';

.customButton {
	color: $secondary;
	background-color: $primary-light;
	font-size: $regularTextSize !important;
	font-family: $roboto !important;
	width: 160px;
	height: 40px;
	border: solid $secondary !important;
	border-radius: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	&:hover {
		transform: scale(1.2);
		background-color: $navbackgroundcolor;
	}
}
