@mixin color($colorvar) {
	color: $colorvar;
}
@mixin backgroundColor($colorvar) {
	background-color: $colorvar;
}
/* .primary {
	color: #8d6e63;
}
.background-p {
	background-color: #8d6e63;
}
.background-pl {
	background-color: #be9c91;
}
.background-pd {
	background-color: #5f4339;
}
.primary-light {
	color: #be9c91;
}

.primary-dark {
	color: #5f4339;
}
.secondary {
	color: #212121;
}

.secondary-light {
	color: #484848;
}

.secondary-dark {
	color: #000000;
} */
