$primary: #8d6e63;
$primary-light: #be9c91;
$primary-dark: #5f4339;
$secondary: #212121;
$secondary-light: #484848;
$secondary-dark: #000000;
$navbackgroundcolor: white;
$roboto: 'Roboto', sans-serif;
$alegeya: 'Alegreya Sans', sans-serif;
$titleFontSize: 42px;
$navTextSize: 18px;
$regularTextSize: 16px;
$subTextSize: 14px;