.titulo {
	font-family: $alegeya;
	font-size: $titleFontSize;
}
.navtext {
	font-family: $roboto;
	font-size: $navTextSize;
}
.texto {
	font-family: $roboto;
	font-size: $regularTextSize;
}
.sub {
	font-family: $roboto;
	font-size: $subTextSize;
}
